body {
    background-color: #F9F9F6;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
.header h2 {
    /*color: #56161A;*/
  
    font-weight: 100;
    font-size: 40px;
}

navlist{
    margin: 0px;
    padding:0px;
}


.box {
    flex: 1 1 auto;
    background-color: #F7F5F5;
    border: 1px solid gray;
}


h3 {
    padding-top: 3.85vw;
    padding-left: 3.85vw;
    /*padding: 3.85vw;*/
    color: #1B1613;
    font-size: 3.5vh;
    /*background-color: blue;*/
    /*background-color: #E8E5E2;*/
    background-color: #E1DDD8;
}

.content {
    text-align: justify;
    padding: 3.85vw;
    color: #211C1B;
    /*background-color:red;*/
    /*background-color: #E1DDD8;*/
    background-color: #E8E5E2;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
}

.item {
    flex: 1 1 auto;
    background-color: papayawhip;
    border: 1em solid gray;
    padding: 0.5em 1em;
    
}
.header {
    /*background-image: url("Clouds.png");
    background-size:cover;*/
    background-color: #32303E;
    display: flex;
    color: #CAC9CD;
    height: 25rem;
   }

.name {
    margin: 3em 25em 0em 1em;
    
    /*float:left*/
}

.photo {
    /*margin-left:25em;
    margin-right:1em;*/
    margin: 2em 1em 0em 25em;
    
}

.navlist li {
    list-style-type: none;
    display: inline;
    margin: 0 4vw;
    font-size: 3.5vh;
    
}
.navlist a {
    text-decoration: none;
    color: #CAC9CD;
      }
 .navlist a:hover {
        background-color: #413836;
        
    }
.navigation {
    width: 100%;
    background-color: #3D3A4B;
    }

#myphoto{
     width: 300px;
     height: 300px;
     border-radius:50%;
     /*float:right;*/
}
h1 {
    /*color: #3C3A33;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 4rem;
}

.


@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-flow: row;
        overflow: auto;
    }

    .test {
        order: 1;
    }

    .name {
        order: 2;
    }

    .navlist{
        display:flex;
        flex-direction:column;
    }

    .navlist li{
        margin:0;
    }

    .navlist a{
        display:block;
    }
}