body {
}

* {
    margin: 10px;
    padding: 10px;
    background-color: #8C8C8C;
}

p {
    color: #56161A;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 100px;
}

.container{
    display: flex;
    flex-direction:column;
    border: 1em solid black;
    padding:2em;
    overflow:auto;
}

.item {
    flex: 1 1 auto;
    background-color: papayawhip;
    border: 1em solid gray;
    padding: 0.5em 1em;
    
}
.header {
    flex: 1 1 auto;
    background-image: url("Mountains.jpg");
    background-color: #0F1014;
}

.list{
    flex-flow:row;
}
