body {
    background-color: #F9F9F6;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.box {
    flex: 1 1 auto;
    background-color: #F7F5F5;
    border-bottom: 1px solid #d4d4d4;
}

h3 {
    padding: 4vh 4vw;
    color: #1B1613;
    background-color: #DCD1D5;
}

.navlist, h3 {
    font-size: 2rem;
}

.content {
    text-align: justify;
    color: #211C1B;
    padding: 3.85vw;
    background-color: #F6F3F4;
    font-size: 1.1rem;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    overflow: auto;
}

.icon {
    width:76px;
    height:76px;
}

.flex-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    flex: 1 1 auto;
    background-color: papayawhip;
    border: 1em solid gray;
    padding: 0.5em 1em;
}

.header {
    background-color: #32303E;
    display: flex;
    color: #F8F6F8;
    align-content: center;
}

.header-text {
    padding-left:4vw;
    margin:auto 0;
}

.navlist {
    display: flex;
    margin: 1rem 0;
    padding: 0px;
    list-style-type: none;
}

.navlist li {
    margin: 0 4vw;
}

.navlist a {
    text-decoration: none;
    color: #CAC9CD;
}
 .navlist a:hover {
 background-color: #413836;
 }

.navigation {
    width: 100%;
    background-color: #3D3A4B;
}

#myphoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile-photo {
    margin: 1rem auto;
}

.name {
    font-weight: 300;
    font-size: 5rem;
}

.skills-category {
    list-style: none;
    font-weight: 700;
    margin-left: -18px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
#skills > .content > ul {
    margin-left: 20px;
}

.name>span {
    font-weight:500;
}
.profession {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



@media only screen and (max-width: 600px) {
    .header{
        flex-flow: column;
        flex-direction:column-reverse;
    }

    .container {
        padding:0;
    }

    .navlist {
        flex-direction: column;
        margin: 1rem 0;
    }

    .content, .profession{
        font-size: 1rem;
    }

    .name {
        font-size:2rem;
    }

    .navlist, h3 {
        font-size: 1.5rem;
    }

    .flex-model {
        flex-direction:column;
    }

    #skills>.content>ul {
        margin-left: 20px;
    }
}